/* Briefcase_content.css */


/* general*/

.a{
    text-decoration: underline;
    color: blue;
    font-size: 12px;
    cursor: pointer;
}

.p{
  margin: 4px 0;
}


.Briefcase .content{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}






/* modify the 'padding' effect of the "Select" component */


.CreatePointset .Select{
  width: 210px;
}

div.Select-control,
.Select .Select-input
{
  height: 22px;
}

.Points_App .Select-input input{
  padding: 2px;
}

.Points_App .Select div.Select-value,
.Points_App .Select div.Select-placeholder{
  line-height: 23px;
}








/* 1. - CreatePointset */

.CreatePointset > .content > .InputNumericWithSlider{
  width: 225px;
  text-align: center;
}

.CreatePointset > .content > .InputNumericWithSlider > input{
  width: 40px;
  font-size: 17px;
  font-weight: bold;
}

.CreatePointset .p > span{
  margin-bottom: 3px;
  display: block;
}


.CreatePointset .generate{
  width: 180px;
}


.CreatePointset .SprayOptions{
  width: 215px;
  padding-bottom: 4px;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
}

.CreatePointset .SprayOptions > .title{
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgba(56, 162, 238);
  text-shadow: 0px 0px 5px white, 0px 0px 2px white;
  padding: 3px 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.2);
}


.CreatePointset .SprayOptions .InputNumericWithSlider{
    margin: 6px 0;
  margin-top: 10px;
  width: 155px;
  text-align: right;
}






/* 2. - PointsSelection */
.PointsSelection .queryMsg > div{
  margin: 5px 12px;
  padding: 2px 5px;
  font-size: 80%;
  padding-bottom: 4px;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(255,255,255,0.7);
}

.PointsSelection button.delete{
  margin-left: 10px;
}

.PointsSelection .p.u-line{
  margin: 15px;
  padding-top: 5px;
  border-top: 3px double rgba(0,0,0,0.2);
  width: 220px;
  position: relative;
}

.PointsSelection .p.u-line > div{
  position: absolute;
  top: -9px;
  left: 12px;
  background-color: #F8F4E5;
  padding: 0 4px;
  font-weight: bold;
  font-size: 85%;
  color: rgba(0,0,0,0.45);
}

.PointsSelection .p.u-line button{
  position: absolute;
  right: 5px;
}


.PointsSelection .p.u-line div.translation{
  position: static;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 4px;
}

input{
  margin-top: 5px;
}

.PointsSelection .translation label{
  margin: 0 8px;
}

.PointsSelection .translation input{
  border: 1px solid grey;
  width: 40px;
}

.PointsSelection .p.u-line > label > input{
  position: relative;
  top: 3px;
}




/* 3. - PairingAlgorithm */

.PairingAlgorithm .Select{
  width: 150px;
}

.PairingAlgorithm .InputNumericWithSlider{
    margin: 3px 0;
  width: 200px;
  text-align: right;
}

.Briefcase .InputNumericWithSlider span{
  display: block;
}


/* 4. - DisplaySettings */