/* Briefcase.css */

.Briefcase{
    margin: 4px;
    border: 3px solid blue;
    border-radius: 2px;
    margin-bottom: 8px;
}

.Briefcase > .title{
    background: blue;
    color: white;
    padding-bottom: 2px;
    position: relative;
}

.Briefcase .content{
    max-height: 0;
    overflow: hidden;
    background: rgba(255,255,255, 0.7);
    transition: max-height 0.4s, padding 0.2s linear;
}

.Briefcase .content.open{
    padding: 3px;
    max-height: 500px;
    overflow:visible;
/* can do better than this
  fixed value once contents are known*/
}



.Briefcase svg,
.Briefcase .noOpen{
    position: absolute;
    font-weight: bold;
    font-size: 120%;
    right: 5px;
    top: -1px;
    opacity: 0.6;
    transition: opacity 0.1s;
    cursor: default;
}

.Briefcase svg{
    top: 1px;
}

.Briefcase .noOpen:hover,
.Briefcase svg:hover{
    opacity: 1;
}

.Briefcase svg polyline{
    fill:none;
    stroke:white;
    stroke-width: 3;
    stroke-linecap: round;
}





/* Setting specific Briefcases colours */

.Briefcase.id-1          { border-color: #9414F4;}
.Briefcase.id-1 > .title { background-color: #9414F4;}

.Briefcase.id-2          { border-color: #FE50E5;}
.Briefcase.id-2 > .title { background-color: #FE50E5;}

.Briefcase.id-3          { border-color: #00B1C4;}
.Briefcase.id-3 > .title { background-color: #00B1C4;}

.Briefcase.id-4          { border-color: #FE8500;}
.Briefcase.id-4 > .title { background-color: #FE8500;}

.Briefcase.id-5          { border-color: #00B050;}
.Briefcase.id-5 > .title { background-color: #00B050;}

.Briefcase.id-6          { border-color: #A75737;}
.Briefcase.id-6 > .title { background-color: #A75737;}