/* GeneralModal.css */

.GeneralModal{
  background: rgba(0,0,0,0.65);
}

.GeneralModal .box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.GeneralModal .box{
    background: #eadaaa;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 8px black;
    padding: 0em 1em;
    border: 5px solid #9414F4;
    display: flex;
    flex-flow: column nowrap;
    font-size: 22px;
}

.GeneralModal .title{
    font-size: 26px;
    font-weight: bold;
    margin: 1em 0;
    opacity: 0.7;
}

.GeneralModal p{
    margin: 0.5em 0;
}

.GeneralModal .piccie-container{
    margin-top: 30px;
    position: relative;
    align-self: center;
}

.GeneralModal .piccie-container > *{
    border-radius: 5px;
}

.GeneralModal .piccie-container > div{
    width: 450px;
    height: 438px;
    position: absolute;
    top: 0;
        box-shadow: inset 0 0 10px 10px #eadaaa;
}



.GeneralModal .responses{
    display: flex;
        justify-content: center;
margin-bottom: 1em;
}

.GeneralModal .responses div,
.GeneralModal a,
.GeneralModal .a{
    width: 250px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    color: #9414F4;
    cursor: default;
}


.GeneralModal .responses div:hover,
.GeneralModal a:hover,
.GeneralModal .a:hover{
    color: red;
}

.GeneralModal .box.msgID2 .a{
    align-self: center;
    margin: 20px;
    margin-bottom: 80px;
}

.GeneralModal .box.msgID2 .s{
    align-self: right;
    width: unset;
    font-size: 12px;
    padding: 6px 2px;
}

.GeneralModal .box.msgID2 a{
    margin-left: 5px;
    text-decoration-style: solid;
}