/* Points_App.css */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

#root{
    height: 100%;
    width: 100%;
}

.Points_App{
    height: inherit;
    width: inherit;
    position: absolute;
    background: #236965;
    display: flex;
}

/* these next 3 are such high-level
   styling rules I leave them in the top-level
   CSS file
*/

.Points_App .XYplane{
    flex: 1 auto;
}

.ControlsColumn,
.XYplane{
    box-shadow: 0px 0px 14px 3px black;
    margin: 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.ControlsColumn{
    width: 250px;
    margin-right: 0;
}