/* XYplane.css */


.XYplane{
    background-color: #EEE;
}

.XYplane .canvas-container{
}

.XYplane svg{
    position: absolute;
    top: 0;
    left: 0,
    
}

.XYplane svg.gaussSVG{
    display: none;
}

.PlaneAxesSVG line,
.PlaneAxesSVG path{
    stroke-width: 2;
}

.PlaneAxesSVG{
    transition: opacity 0.4s;
}

.PlaneAxesSVG:not(.visible){
    opacity: 0;
}


.XYplane .SprayOverlaySVG svg{
    cursor: crosshair;
}

.XYplane .SprayOverlaySVG svg circle{
    fill: rgba(56, 162, 238, 0.5);
}