/* XYplane.css */


.XYplane{
    background-color: #EEE;
}

.XYplane .canvas-container{
}

.XYplane svg{
    position: absolute;
    top: 0;
    left: 0,
    
}

.PlaneAxesSVG line,
.PlaneAxesSVG path{
    stroke-width: 2;
}


.XYplane .SprayOverlaySVG svg circle{
    fill: rgba(56, 162, 238, 0.5);
}