/* XYplane.css */


.XYplane{
    background-color: #EEE;
}

.XYplane .canvas-container{
}

.XYplane .PlaneAxesSVG svg{
    position: absolute;
}

.PlaneAxesSVG line,
.PlaneAxesSVG path{
    stroke-width: 2;
}